<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <style>
          h1 {
            text-align: center;
          }
        </style>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}



        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}


        <!-- Social Media Links -->
        <div style="margin-top: 7px; text-align: center;">
        <div style="margin: 2px;"><a href="https://www.linkedin.com/in/omid-ghadami" style="text-decoration: none;"><i class="fab fa-linkedin"></i> LinkedIn</a></div>
        <div style="margin: 2px;"><a href="https://github.com/omidghadami95" style="text-decoration: none;"><i class="fab fa-github"></i> GitHub</a></div>
        <div style="margin: 2px;"><a href="mailto:omidghadami1995@gmail.com" style="text-decoration: none;"><i class="far fa-envelope"></i> Email</a></div>
        <div style="margin: 2px;"><a href="mailto:omidghadami@stu.usc.ac.ir" style="text-decoration: none;"><i class="far fa-envelope"></i> Email</a></div>
        <div style="margin: 2px;"><a href="https://drive.google.com/file/d/1DGj11AWKwBjCir7aW8bPmrGEOKQh-O9X/view?usp=drive_link" style="text-decoration: none;none;"><i class="far fa-file-pdf"></i> CV</a></div>
        </div>
        
        
      </header>
      <section>

      {{ content }}

      </section>
      <style>
        footer {
          text-align: center;
        }
      </style>
      <footer>
        {% if site.github.is_project_page %}
        <p>This page is maintained by <a href="{{ site.github.owner_url }}">Omid Ghadami</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
